
.expence_list{
    width: 97%;
    background: orange;
    height: 100px;
    padding: 12px;
    margin: 10px 0;
    border-radius: 7px;
}
.expence_list .expence_date{
    width: 15%;
    height: 100%;
    float: left;
}
.expence_list .expence_date .expence_date_inner{
    width: 100px;
    
    text-align: center;
    float: left;
    padding: 8px;
    background-image: initial;
    background-color: #000;
    border: 2px solid;
}
.expence_list .expence_date h3, .expence_list .expence_date h4,.expence_list .expence_date h5{
   margin: 0;
    margin-bottom: 8px;
}

.expence_name_price{
    width: 85%;
    float: left;
}
.expence_name_price .expence_name{
    float: left;
    width: 80%;
}
.expence_name_price .expence_name p{
    margin-top: 19px;
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
}
.expence_price{
    width: 19%;
    float: left;
}
.expence_price p{
    width: 100px;
    background: rgb(18, 25, 163);
    padding: 12px 6px;
    text-align: center;
    font-size: 19px;
    border: 2px solid;
    border-radius: 5px;
}