.cart-bar{
    height: 100%;
}
.cart-bar-inner{
    height: 80%;
    border: 1px solid #0f0fe8;
    background: #7f8ceb;
    border-radius: 8px;
    width: 12px;
    margin: 0 auto;
    position: relative;
}
.cart-bar-fill{
    background: #0f0fe8;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;

    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}